#header{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    background-color: darkgreen;
    
}
 
#registros{
 
    width: 26em;
    justify-content: center;
    align-items: center;
   
    display: flex;
    
}

#contenidoTabla{
    min-height: 400px;
    white-space: ;
}

#pie{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: darkgreen;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 50px;
}